SECRET_KEY = django-insecure-$+em&$izbr=@6y*o+kcy#ofli+j*hprn8vbli7jv9*7%g!)2+z
DB_NAME = "fresh"
DB_HOST = "mongodb://127.0.0.1:27017"
DB_TZ_AWARE = True
GLOVE_PATH = "/home/aditya/Documents/GitHub/kavach-gui/server/glove-wiki-gigaword-300"